<h1 class="medium">
    <strong>
        Editar anúncio!
    </strong>
</h1>

<hr>
<%= render "form.html", Map.put(assigns, :action, Routes.spare_parts_path(@conn, :update, @spare_parts)) %>

<p>
    <a href={Routes.spare_parts_path(@conn, :show, @spare_parts)}>
        <button class="button-27-invert-sml" role="button">
            Voltar     
        </button>      
    </a>        
</p>