<h1 class="medium">
    <strong>
        Criar novo anúncio!
    </strong>
</h1>

<hr>


<%= render "form.html", Map.put(assigns, :action, Routes.spare_parts_path(@conn, :create)) %>

<span><%= link "<- Voltar", to: Routes.spare_parts_path(@conn, :index) %></span>
